$border-game: 1px solid grey;
$color-game: #FBBA64;
$color-jaina: #340D32;
$color-grom: #7B0305;
.ticTacToe {
  width: 100vw;
  height: 100vh;
  background: url(../images/background-image.jpg) no-repeat center center fixed;
  background-image: cover;
  font-family: 'Russo One', sans-serif;
  margin: 0 auto;
  padding: 5vh 10vw;
  .ticTacToe__section {
    background-color: $color-game;
    margin: 0 auto;
    border: $border-game;
    border-radius: 20px;
    .ticTacToe__section__title {
      font-size: 3vh;
      border-bottom: $border-game;
      @media (min-width: 600px) {
        font-size: 4vh;
      }
    }
    .ticTacToe__section__sign {
      padding-top: 2.5vh;
      height: 15vh;
      .sign__image-jaina {
        height: 9vh;
        box-shadow: 5px 5px 15px $color-jaina;
      }
      .sign__image-grom {
        height: 9vh;
        box-shadow: 5px 5px 15px $color-grom;
      }
    }
    .ticTacToe__section__text {
      font-size: 1.5vh;
      @media (min-width: 600px) {
        font-size: 2vh;
      }
    }
    .ticTacToe__section__score {
      border-top: $border-game;
      border-bottom: $border-game;
    }
    .ticTacToe__section__board-notActive {
      pointer-events: none;
    }
    .ticTacToe__section__board {
      padding: 2.5vh;
      height: 50vh;
      .board__field {
        height: 15vh;
        border: $border-game;
        .sign__image-jaina {
          margin-top: 2vh;
          height: 9vh;
          box-shadow: 5px 5px 15px $color-jaina;
        }
        .sign__image-grom {
          margin-top: 2vh;
          height: 9vh;
          box-shadow: 5px 5px 15px $color-grom;
        }
      }
      .board__field-notActive {
        pointer-events: none;
      }
    }
  }
}
